<div class="card">
    <div class="card-body">
        <div class="bton mb-3">
            <button class="" type="button" >Editar</button>
            <button class="" type="button" >Guardar</button>
        </div>
        <table class="table  table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Numero de Identidad</th>
                    <th scope="col">Numero de Telefono</th>
                    <th scope="col">Correo Electronico</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Diogenes O. Lora C.</td>
                    <td>402-3042938-9</td>
                    <td>849-915-9740</td>
                    <td>omarlora07@hotmail.com</td>
                  </tr>
            </tbody>
        </table>
    </div>
</div>