<div class="card">
    <div class="card-body">
        <form action="#">
            <div class="mb-2">
                <label for="nombre">Nombre Completo</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-2">
                <label for="nombre">Numero de Identidad</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-2">
                <label for="nombre">Numero de Telefono</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-2">
                <label for="nombre">Correo Electronico</label>
                <input type="text" class="form-control">
            </div>
            <div class="bton">
                <button class="" type="button" >Limpiar</button>
                <button class="" type="button" >Guardar</button>
            </div>
        </form>
    </div>
</div>
